:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background-color: #fff;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.direction {
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.margin {
  margin: 70px 0;
}

.separacion {
  width: 90%;
  margin: 30px 5%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 46.88px;
}

.text {
  font-size: 18px;
  line-height: 26.37px;
  margin: 20px 0px;
  color: #6F7582;
}

.main-image {
  height: 503px;
}

.resalto {
  background-color: #8ADEE9;
  color: #353535;
  border-radius: 40px;
  text-align: center;
  padding: 10px 50px;
  width: 50%;
}

.big-size {
  font-size: 24px;
  line-height: 35.16px;
}

.reduccion {
  width: 75%;
}

.second-image {
  width: 600px;
}

.big-title {
  font-size: 48px;
  margin-bottom: 5px;
  font-weight: 500;
}

.m-t {
  margin-top: 5px;
}

.full-width {
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 24%;
  margin: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.card-image {
  width: 100%;
  border-radius: 15px;
}

.card-texts {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 35.16px;
  margin: 20px 0 0 0;
}

.card-link {
  text-decoration: none;
  text-align: end;
  width: 100%;
  color: #00BDD6;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.98px;
}

.swiper {
  width: 100%;
  padding: 50px 0;
}

.b-s {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
}

.slider img {
  width: 170px;
}

.slider-image {
  width: 25%;
  display: flex;
  justify-content: center;
  height: 300px;
}

.testimonio {
  color: #353535;
  margin-bottom: 0;
}

.sin-margin {
  margin: 0;
}

.swiper-pagination {
  bottom: 50px;
}

.cards-mentores {
  justify-content: space-evenly;
  width: 100%;
}

.card-mentor {
  border-radius: 30px;
  padding: 25px;
}

.info-mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor {
  color: #000;
  font-weight: 600;
  margin: 0;
}

.rol {
  color: #00BDD6;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.puesto {
  font-size: 16px;
  margin: 0;
}